{%load static%}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>PROJECTPATH - Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/soumission.css' %}"">
</head>
<body>

    <div class="info">
        <h3>Envoyez un message.</h3>

    </div>


    <div class="container1">
        <h5>Envoyez un message</h5>
        <p>Remplissez tous les champs pour envoyer un message</p>

    <form action="" method = "POST">
        {%csrf_token%}

        <div class="same">
            {{form.objet.errors}}
            <label for="objet">objet </label>
            {{form.objet}}
        </div>

        <div class="same">
            {{form.contenu.errors}}
            <label for="contenu">contenu</label>
            {{form.contenu}}
        </div>

        <div class="same">
           {{form.emetteur.errors}}
            <label for="description">emetteur</label>
           {{form.emetteur}}
        </div>

        <div class="same">
            {{form.receveur.errors}}
            <label for="Problème">receveur</label>
            {{form.receveur}}
        </div>

        <div class="same">
            {{form.project.errors}}
            <label for="objectif">Project</label>
            {{form.project}}
        </div>

         <div class="same">
            {{form.request.errors}}
            <label for="objectif">Requete</label>
            {{form.request}}
        </div>
        
        <p>&nbsp&nbsp&nbsp</p>
        <p>&nbsp&nbsp&nbsp</p>

        <input type="submit" value = "envoyer"/>
    </form>


</body>
</html>