{%load static%}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>PROJECTPATH - Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"">
</head>
<body>
  <nav class="navbar">
    <div class="logo">PROJECTPATH</div>
    <div class="nav-links">
      <a href="{%url 'Staff_DashBoard' user_id%}">Dashboard</a>
      <a href="#" onclick="navigate('messages')">Messages</a>
    </div>
  </nav>

    <h2>{{p.nom_projet}}</h2>
      <p>{{p.description}}</p>
        
      <!--Jai oublier ce que c'est-->
      <!--<span class="status ${projet.statut.replace(" ", "")}">${projet.statut}</span>
      <div class="actions">
        <button class="approve" onclick="updateStatusDetail(${id}, 'validé')">Valider</button>
        <button class="reject" onclick="updateStatusDetail(${id}, 'refusé')">Refuser</button>
      </div>-->

    <h3>Problème résolu</h3>
        <p>{{p.probleme_resolu}}</p>
    <h3>Objectifs</h3>
        <p>{{p.objectif}}</p>
    <h3>Équipe</h3>
        {% for etudiant in etudiants%}
            <li>{{etudiant.nom}} {{etudiant.prenom}}</li>
        {%endfor%}
    <h3>Document</h3>
        <a href = "/media/{{p.file_path}}" >{{p.file_path}}</a>
    <h3>Commentaires & échanges</h3>
        {%if message_nb %}
            <ul>
            {%for m in message%}
                <li><b>{{m.objet}}</b></li>
                <p>{{m.contenu}}</p>
            {%endfor%}
            </ul>
        {%else%}
            <p>Aucun commentaire</p>
        {%endif%}


    <!--Je peux surement utiliser ce formulaire pour creer des messages plutôt.-->
    <form action = "" method = "POST">
        {%csrf_token%}
        <input type = "submit" name="accept" value = "Accepter"/>
        <input type = "submit" name = "refuse" value = "Refuser"/>
        <input type = "submit" name = "document_manquant" value = "Document manquant"/>
    </form>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>