{%load static%}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Contactez nous !</title>
  <link rel="stylesheet" href="{% static 'css/soumission.css' %}"">
</head>
<body>

      <nav>
        <div class="logo">
            <i class="fa-solid fa-rocket"></i>
            <div class="txt">
                <h4>PROJECTPATH</h4>
                <p>Innovation Hub</p>
            </div>
        </div>
        <div id="dash" class="same" data-page="dashboard.html">
            <i class="fa-solid fa-house-user"></i>
            <p>dashboard</p>
        </div>

        <div class="same" id="soumettre">
            <i class="fa-solid fa-folder-plus"></i>
            <a href = "{%url 'add_project' user_id%}">Soumettre un projet</a>
        </div>
        <div class="same" id="besoin"  data-page="besoin.html">
            <i class="fa-regular fa-square-plus"></i>
            <a href = "{%url 'add_request' user_id%}">Déclarer un besoin</a>
        </div>
        <div class="same" id="message">
            <i class="fa-regular fa-message"></i>
            <a href = "{%url 'message_etudiant' user_id%}">message</a>
        </div>
        <div class="same" id="profil">
            <i class="fa-regular fa-user"></i>
            <a href = "{%url 'user_details' user_id%}">Profil</a>
        </div>
        <div class="notification" >
            <i class="fa-regular fa-bell"></i>
        </div>
        <div class="same" id="profil">
            <a href = "{%url 'contact_us' user_id%}">Contactez nous</a>
        </div>

        <div class="compte">
            <a href="{%url 'logout'%}">Se déconnecter</a>
            <span id="s2"> {{user.nom}} {{user.prenom}}</span>
        </div>
    </nav>
    

    <div class="info">
        <h3>Envoyez un message.</h3>

    </div>


    <div class="container1">
        <h5>Envoyez un message</h5>
        <p>Remplissez tous les champs pour envoyer un message</p>

    <form action="" method = "POST">
        {%csrf_token%}

        <div class="same">
            {{form.nom.errors}}
            <label for="nom">nom </label>
            {{form.nom}}
        </div>

        <div class="same">
            {{form.prenom.errors}}
            <label for="prenom">prenom</label>
            {{form.prenom}}
        </div>

        <div class="same">
           {{form.email.errors}}
            <label for="email">email</label>
           {{form.email}}
        </div>

        <div class="same">
            {{form.objet.errors}}
            <label for="objet">objet</label>
            {{form.objet}}
        </div>

        <div class="same">
            {{form.message.errors}}
            <label for="message">message</label>
            {{form.message}}
        </div>
        
        <p>&nbsp&nbsp&nbsp</p>
        <p>&nbsp&nbsp&nbsp</p>

        <input type="submit" value = "envoyer"/>
    </form>


</body>
</html>