{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  

    <nav>
        <div class="logo">
            <i class="fa-solid fa-rocket"></i>
            <div class="txt">
                <h4>PROJECTPATH</h4>
                <p>Innovation Hub</p>
            </div>
        </div>
        <div id="dash" class="same" data-page="{%url 'home' user_id%}">
            <i class="fa-solid fa-house-user"></i>
            <p>dashboard</p>
        </div>

        <div class="same" id="soumettre" data-page="{%url 'add_project' user_id%}">
            <i class="fa-solid fa-folder-plus"></i>
            <p>Soumettre un projet</p>
        </div>
        <div class="same" id="besoin" data-page="{%url 'add_request' user_id%}">
            <i class="fa-regular fa-square-plus"></i>
            <p>Déclarer un besoin</p>
        </div>
        <div class="same" id="message" data-page = "{%url 'message_etudiant' user_id%}">
            <i class="fa-regular fa-message"></i>
            <p>message</p>
        </div>
        <div class="same" id="profil" data-page="{%url 'user_details' user_id%}">
            <i class="fa-regular fa-user"></i>
            <p>Profil</p>

        <div class="compte">
            <span id="s2"> {{user.nom}} {{user.prenom}}</span>
            <a href="{%url 'logout'%}">Se déconnecter</a>
        </div>

        
    </nav>
     <div class="info">
        <span>A</span>
        <div class="etudinfo">
         <h3>{{user.first_name}} {{user.last_name}}</h3>
        <p>{{user.email}}</p>
        </div>
        
    </div>

   <div class="container">
    <div class="mod">
        <div class="but">
            <h4>Informations du profil</h4>
            <p>Gérez vos informations personnelles</p>
        </div>

        <div>
            <button type="button">
                <a href = "{%url 'modify_user_account' user.id%}">Modifier</a>
            </button>
        </div>
    </div>
    
    <div class="same">
        <label for="nom">Matricule</label>
        <input type="number" id="nom" value={{user.matricule}} disabled>
    </div>

    <div class="same">
        <label for="nom">Nom</label>
        <input type="text" id="nom" value={{user.first_name}} disabled>
    </div>

    <div class="same">
        <label for="nom">Prenom</label>
        <input type="text" id="nom" value={{user.last_name}} disabled>
    </div>

    <div class="same">
        <label for="email">Email</label>
        <input type="email" id="email" value={{user.email}} disabled>
    </div>

    <div class="same">
        <label for="nom">Numero de telephone</label>
        <input type="number" id="nom" value=0{{user.telephone}} disabled>
    </div>

    <div class="same">
        <label for="niveau">
            <i class="fa-solid fa-graduation-cap"></i> Niveau
        </label>
        <input type="text" id="niveau" value={{user.niveau_etude}} disabled>
    </div>
    
</div>
<script type="text/javascript" src = "{% static 'js/soumission.js' %}"></script>
</body>
</html>




